<!DOCTYPE html>
<!-- panalr. (PANASONIC PORTAL LISTER) -->
<!-- OPTIONAL FEATURE LIST -->
<!-- Add class to HTML to enable feature -->

<!-- theme-night    - DARK THEME -->
<!-- perspective    - PERSPECTIVE INTERFACE (Experimental) -->
<!-- animations     - ANIMATIONS -->
<!-- cog-menu       - LINKED PAGE DETAILS MENU -->
<html class="animations">
	<head>
		<title>panalr.</title>
		<link rel="stylesheet" type="text/css" href="panalr/css/style.css">
		<link rel="stylesheet" type="text/css" href="panalr/css/extension_perspective.css">
		<link rel="stylesheet" type="text/css" href="panalr/css/extension_animation.css">
		<link rel="stylesheet" type="text/css" href="panalr/css/extension_night_theme.css">
		<link rel="stylesheet" type="text/css" href="panalr/css/extension_cog_menu.css">
		<link rel="stylesheet" type="text/css" href="panalr/css/fontello.css">
	</head>
	<body>
		<header>
			<h1 class="title">panalr.</h1>
			<h2 class="subtitle"></h2>
			<div class="search">
				<input placeholder="search" id="searchfield">
			</div>
		</header>

		<section class="container" style="min-height:500px;" id="container"></section>
		
		<div class="settings-container" onclick="hideSettings()"></div>
		<div class="settings" id="settings"></div>
		<div class="error" id="error"></div>
		
		<footer id="footer"></footer>
		<script type="text/javascript" src="panalr/js/vendor/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="panalr/js/vendor/jsviews.min.js"></script>
		<script type="text/javascript" src="panalr/js/main.js"></script>

		<!-- BUTTON TEMPLATE -->
		<script id="buttonTemplate" type="text/x-jsrender">
			{{if blacklisted!==true}}
				<div class="portal-button" id="{{:dirname}}" tabindex="0">
					<a href="{{:dirname}}" onclick="clickHandler('{{:dirname}}','{{:diralias}}');">
						{{if diralias}}
							<p>{{:diralias}}</p>
						{{else}}
							<p>{{:dirname}}</p>
						{{/if}}
					</a>
					<div class="cog-container" onclick="loadSettings('{{:dirname}}', '{{:diralias}}');">
						<i class="icon-cog animate-spin"></i>
					</div>
				</div>
			{{/if}}
		</script>

		<!-- LAST USED PORTAL TEMPLATE -->
		<script id="lastUsedTemplate" type="text/x-jsrender">
			<div class="portal-button lastused" tabindex="0" id="{{:dirname}}">
				<a href="{{:dirname}}">
					<p>{{:diralias}}</p>
				</a>
				<div class="cog-container" onclick="loadSettings('{{:dirname}}', '{{:diralias}}');">
					<i class="icon-cog animate-spin"></i>
				</div>
			</div>
		</script>

		<!-- SETTINGS POPUP TEMPLATE -->
		<script id="settingsTemplate" type="text/x-jsrender">
			<h1>Settings for {{:diralias}}</h1>
			<table>
				<tr>
					<td>Emulator</td>
					<td>
						<select id="emulators"></select>
						<button onclick="changeEmulator('{{:dirname}}', '{{:diralias}}');">Save</button>
					</td>
				</tr>

				<tr>
					<td>Engine</td>
					<td><button onclick="changeEngine('{{:dirname}}', '{{:diralias}}')">Current: {{:engineVersion}}</button></td>
				</tr>
				<tr>
					<td>Skin</td>
					<td>{{:mediaplayerSkinVersion}}</td>
				</tr>
				<tr>
					<td>QA</td>
					<td>{{:qaFixVersion}}</td>
				</tr>
			</table>
		</script>
	</body>
</html>