/*NIGHT THEME*/

html.theme-night a:focus {
	background-color: #223A52;
}

/*HEADER*/
html.theme-night body,
html.theme-night header {
	background-color: #223242;
}
	/*TITLE*/
	html.theme-night .title {
		color: #717171;
		text-shadow: 0 0 1px black;
	}

	/*SEARCH*/
	html.theme-night .search > input {
		background-color: #111C27;
		color: #909090;
	}


/*MAIN CONTENT*/
html.theme-night .container {
	background-color: #111C27;
}
	/*BUTTONS*/
	html.theme-night .portal-button
	{
		background-color: #223242;
		color: #717171;
	}

	html.theme-night .portal-button:hover,
	html.theme-night .portal-button:focus
	{
		background-color: #2E445A;
		color: #868585;
	}

/*MODAL*/
html.theme-night .settings{
	background-color: #2D4256;
	color: #9E9E9E;
}