/*GENERAL*/
*:focus {
    outline: none;
}

a{
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: inherit;
}

a:focus {
	display: block;
	background-color: #C5C5C5;
}

::selection {
	background:#81879C;
}

::-moz-selection {
	background:#81879C;
}

body {
	background: #416080;
	margin: 0;
}

/*HEADER*/
	header {
		background-color: #416080;
		padding-bottom:20px;
	}

	/*TITLE*/
	.title {
		color: white;
		display: inline-block;
		font-family: serif;
		font-size: 60px;
		margin: 15px 35px;
		text-shadow: 0 0 1px white;
	}

	.subtitle {
		color: rgb(208, 208, 208);
		font-family: serif;
		margin: -30px 0 0 64px;
		position: absolute;
	}

	/*SEARCH*/
	.search {
		display: inline-block;
		right: 0;
		float: right;
		margin: 35px 25px 0 0;
	}

	.search > input {
		border-radius: 6px;
		border: none;
		font-size: 20px;
		line-height: 20px;
		padding: 10px 20px 10px 20px;
		width: 300px;
	}

	.search > input:hover,
	.search > input:focus {
		box-shadow: 1px 1px 10px 0px black;
	}

	@media screen and (max-width:690px){
		.title {
			margin-left: 10px;
		}

		.search {
			float: none;
			margin: 0 35px;
			margin-left: 10px;
			position: relative;
			right: initial;
			top: 8px;
		}
	}

/*MAIN*/
.container {
	background: #2c4762;
	padding-top: 10px;
	text-align: center;
}
	/*BUTTON*/
	.portal-button {
		background: white;
		border-radius: 6px;
		color: #616161;
		display: inline-block;
		font-family: sans-serif;
		font-size: 20px;
		font-size: 3vw;
		line-height: 100px;
		margin: 2%;
		max-height: 100px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 29%;
	}

	.portal-button:hover,
	.portal-button:focus {
		background: rgb(235, 235, 235);;
		box-shadow: 1px 1px 10px 0px black;
		color: black;
	}

	.portal-button > a > p {
		margin: 0;
	}

	.portal-button > .cog-container {
		bottom: 5px;
		cursor:pointer;
		display: none;
		font-size: 25px;
		line-height: 0;
		position: absolute;
		right: 0;
	}

	/* LAST USED BUTTON OVERLAY */
	.lastused:before {
		content: " ";
		width: 100%;
		height: 100%;
		background-color: rgba(139, 152, 133, 0.33);
		position: absolute;
		left: 0;
		pointer-events: none;
	}

/*SETTINGS*/
.settings-container,
.settings,
.error {
	opacity:0;
	pointer-events: none;
	position: fixed;
}

.settings-container {
	background:rgba(0,0,0,.3);
	height:100%;
	left:0;
	top:0;
	width:100%;
}

.settings {
	background-color: #E6E6E6;
	border-radius:6px;
	box-shadow: 0 0 6px 0px black;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 100;
	height: 250px;
	left: calc(50% - 200px);
	line-height: 22px;
	padding: 0;
	padding-top:10px;
	top: calc(50% - 125px);
	width: 400px;
}

.settings h1 {
	font-family: sans-serif;
	font-weight: 100;
	margin-top: 5px;
	text-align: center;
}

.settings table{
	border-collapse: collapse;
	border-spacing: none;
	font-family: sans-serif;
	line-height: 40px;
	width:100%;
}

.settings table td {
	padding-left:10px;
	padding-right:10px;
}

.settings table tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

.settings table tr td:nth-child(2) {
	float:right;
}

.settings select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 7px;
	border-radius: 0;
	cursor:pointer;
}

.settings button {
	padding:10px;
	cursor:pointer;
}

.error {
	font-family: sans-serif;
	border: 7px solid red;
	background-color: #E6E6E6;
	border-radius:6px;
	box-shadow: 0 0 6px 0px black;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 100;
	height: 100px;
	left: calc(50% - 200px);
	line-height: 22px;
	padding:10px;
	top: calc(50% - 50px);
	width: 400px;
}

.error-open .settings-container,
.settings-open .settings-container,
.settings-open .settings,
.error-open .error {
	opacity:1;
	pointer-events: all;
}